#divNokia1,
#divIphone1 {
  border: 1px solid black;
  background-color: black;
  border-radius: 20px;
  width: 300px;
  height: 600px;
}
#divNokia2,
#divIphone2 {
  border: 1px solid black;
  background-color: azure;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  height: 500px;
  text-align: bottom;
}
#divNokia3,
#divIphone3 {
  border: 0px solid black;
  margin: bottom;
}
button {
  border-radius: 5px;
}
