input {
    height : 100px;
    width : 250px; 
    border-radius: 30px;
    color: rgb(4, 49, 21);
    background-color:green;
    border:5px solid rgb(2, 32, 12);
    font-size: 50px;
    padding: 15px;
}
body {
    text-align: center;
    background-color: rgb(109, 218, 145);
    font-family: Courier;
}
div {
    margin: auto;
    width: 700px;
    height: 500px;
    border-radius: 10px;
    border: 10px solid black;
    background-color: rgb(22, 121, 55);
}